<div class="create_bot">
    <h1>Create bot</h1> <i class="fa-solid fa-plus"></i>
</div>

<a class="chat_history" href="/chat">
    <div class="chat_history_icon">
        <img src="./img/logoChatGPT.png" alt="" style="height: 40px; border-radius: 5px">
    </div>
    <div class="chat_history_content">
        <div class="chat_history_content_header">
            <div class="chat_history_content_model">
                Model: GPT-3.5
            </div>
            <div class="chat_history_content_last_time_use">
                --:--
            </div>
        </div>
        <div class="chat_history_content_title">
            <h5>ChatBot</h5>
        </div>
    </div>
</a>
<a class="chat_history " href="/generateImg">
    <div class="chat_history_icon">
        <img src="./img/logoChatGPT.png" alt="" style="height: 40px; border-radius: 5px">
    </div>
    <div class="chat_history_content">
        <div class="chat_history_content_header">
            <div class="chat_history_content_model">
                Model: Dall-E
            </div>
            <div class="chat_history_content_last_time_use">
                --:--
            </div>
        </div>
        <div class="chat_history_content_title">
            <h5>Generate imgage</h5>
        </div>
    </div>
</a>
<a class="chat_history " href="/chatGPT4">
    <div class="chat_history_icon">
        <img src="./img/logoChatGPT.png" alt="" style="height: 40px; border-radius: 5px">
    </div>
    <div class="chat_history_content">
        <div class="chat_history_content_header">
            <div class="chat_history_content_model">
                Model: GPT-4
            </div>
            <div class="chat_history_content_last_time_use">
                --:--
            </div>
        </div>
        <div class="chat_history_content_title">
            <h5>Generate imgage and test</h5>
        </div>
    </div>
</a>
<a class="chat_history " href="/TTS">
    <div class="chat_history_icon">
        <img src="./img/logoChatGPT.png" alt="" style="height: 40px; border-radius: 5px">
    </div>
    <div class="chat_history_content">
        <div class="chat_history_content_header">
            <div class="chat_history_content_model">
                Model: tts-1
            </div>
            <div class="chat_history_content_last_time_use">
                --:--
            </div>
        </div>
        <div class="chat_history_content_title">
            <h5>Text to speech</h5>
        </div>
    </div>
</a>